<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD333D9QVsAnuG3NxYLYSo7yeWdkz--0ws</string>
	<key>GCM_SENDER_ID</key>
	<string>881559382822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adriangarcia.demoTeamEventsApp</string>
	<key>PROJECT_ID</key>
	<string>teamevents-2c547</string>
	<key>STORAGE_BUCKET</key>
	<string>teamevents-2c547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881559382822:ios:57d7277f41f13183db2fe7</string>
</dict>
</plist>